<app-layout></app-layout>
  <!-- <app-sidebar></app-sidebar> -->

 <!-- <div class="float-left">
   <div class="row">
      <div class="col-lg-4">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-lg-8"> -->
          <router-outlet></router-outlet>
           <!-- <app-primecomponent></app-primecomponent> -->
          <app-footer></app-footer>
        <!-- </div>
   </div>
 </div> -->
 <!-- <img [src]="'assets/download.jpg1' | default:'https://drop.ndtv.com/albums/AUTO/porsche-taycan-turbo/1200x900_1.jpg'"/> -->
<!-- <app-devali></app-devali> -->
