
.navbar-toggler:focus, .navbar-toggler:hover {
  text-decoration: none;
  background-color: darkcyan;
}
.navbar-dark .navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
  background-color: cadetblue;
}
.bg-dark {
  background-color: #28a745!important;
}

/*
ul.nav.justify-content-end {
  margin-left: 1300px;

} */
