


<br>
<br>


        <title>Happy Diwali</title>
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">

    <body>

        <div>
        <p>🎆Happy Diwali All🎇</p>
        <img src="https://dl.dropbox.com/s/eiiwsyqk6un2yl3/source.gif" style="height:580px"/>
            <!-- <img src="https://dl.dropbox.com/s/64lu1vixr7ft3qi/15720763117051378419640.jpg"/> -->
        </div>

        <p class="diwali">This Diwali Only Diyas<br/><span>Say No To</span><br/>FireCrackers.🎇🎆</p>


    </body>

